In [65]:
import ipeadatapy as ipea
import pandas as pd

In [78]:
series = ipea.list_series()
series.tail()

               CODE                                               NAME
9602  ADH_RDPC4_URB  Renda domiciliar per capita  média do 4º quint...
9603  ADH_RDPC5_RUR  Renda domiciliar per capita média do quinto ma...
9604  ADH_RDPC5_URB  Renda domiciliar per capita média do quinto ma...
9605  ADH_THEIL_RUR                 Índice de Theil - L - áreas rurais
9606  ADH_THEIL_URB                Índice de Theil - L - áreas urbanas

In [116]:
series.loc[series.NAME == "IGP-DI"]

                CODE    NAME
4845      IGP_IGPDIG  IGP-DI
4875  IGP12_IGPDIG12  IGP-DI

In [89]:
df = (pd.read_csv("deflator.csv"))

In [153]:
bases = {
    "exportacao": ipea.describe("BPN_XTV"),
    "importacao": ipea.describe("BPN_MTV"),
    "base_monetaria": ipea.describe("BM_M0FN"),
    "inflacao": ipea.describe("IGP_IGPDIG")
}


for base, dados in bases.items():
    bases[base] = list(dados.to_dict().values())[0]
    bases[base]["dataframe"] = (
        ipea.timeseries(bases[base]["Code"]).reset_index()
        .rename({f"VALUE ({bases[base]['Measure']})": "VALUE"}, axis = 1)
        .assign(
            nome = base,
            unidade = bases[base]['Unit'], 
            medida = bases[base]['Measure'])
    )


df = pd.concat([base["dataframe"] for base in bases.values()])

In [158]:
df.pivot_table(
    index = "YEAR",
    columns = "nome",
    values = "VALUE"
).reset_index().rename_axis("", axis = 1)

     YEAR  base_monetaria  exportacao  importacao   inflacao
0    1889             NaN       138.8       116.6        NaN
1    1890             NaN       128.2       116.7        NaN
2    1891             NaN       131.9       124.2        NaN
3    1892             NaN       150.0       127.8        NaN
4    1893             NaN       155.6       127.4        NaN
..    ...             ...         ...         ...        ...
129  2018      302049.461         NaN         NaN   7.099356
130  2019      316586.707         NaN         NaN   7.695936
131  2020      431536.653         NaN         NaN  23.083232
132  2021      409183.519         NaN         NaN  17.737619
133  2022      419659.918         NaN         NaN   5.028622

[134 rows x 5 columns]