In [21]:
import ipeadatapy as ipea
import pandas as pd
import numpy as np

In [3]:
series = ipea.list_series()
series.tail()

               CODE                                               NAME
9602  ADH_RDPC4_URB  Renda domiciliar per capita  média do 4º quint...
9603  ADH_RDPC5_RUR  Renda domiciliar per capita média do quinto ma...
9604  ADH_RDPC5_URB  Renda domiciliar per capita média do quinto ma...
9605  ADH_THEIL_RUR                 Índice de Theil - L - áreas rurais
9606  ADH_THEIL_URB                Índice de Theil - L - áreas urbanas

In [4]:
series.loc[series.NAME == "IGP-DI"]

                CODE    NAME
4845      IGP_IGPDIG  IGP-DI
4875  IGP12_IGPDIG12  IGP-DI

In [12]:
df = (
    pd.read_csv("deflator.csv")
    .rename({"DPCERG3A086NBEA": "deflator"}, axis = 1)
    .assign(DATE = lambda _: pd.to_datetime(_.DATE))
)

In [14]:
bases = {
    "exportacao": ipea.describe("BPN_XTV"),
    "importacao": ipea.describe("BPN_MTV"),
    "base_monetaria": ipea.describe("BM_M0FN"),
    "inflacao": ipea.describe("IGP_IGPDIG")
}


for base, dados in bases.items():
    bases[base] = list(dados.to_dict().values())[0]
    bases[base]["dataframe"] = (
        ipea.timeseries(bases[base]["Code"]).reset_index()
        .rename({f"VALUE ({bases[base]['Measure']})": "VALUE"}, axis = 1)
        .assign(
            nome = base,
            unidade = bases[base]['Unit'], 
            medida = bases[base]['Measure'])
    )


df = pd.concat([base["dataframe"] for base in bases.values()]).merge(df, how = "left")

In [30]:
(df
 .query("DATE.dt.year > 1950 and DATE.dt.year < 2000")
 .assign(
    VALUE = lambda _: np.where(_.medida == "US$", _.VALUE / _.deflator, _.VALUE),
    nome = lambda _: np.where(_.medida == "US$", _.nome + "_deflacionado", _.nome) + "_" + _.medida
)
 .pivot_table(
    index = "YEAR",
    columns = "nome",
    values = "VALUE"
).reset_index()
 .rename_axis("", axis = 1)
)

,YEAR,base_monetaria_R$,exportacao_deflacionado_US$,importacao_deflacionado_US$,inflacao_(% a.a.)
0,1951,1.589091e-11,124.973649,121.850512,12.337655
1,1952,1.869091e-11,98.173555,119.089650,12.716743
2,1953,2.214545e-11,105.180799,78.209976,20.512819
3,1954,2.690909e-11,105.829787,95.858992,25.864923
4,1955,3.192727e-11,96.061420,74.499865,12.145735
5,1956,3.745455e-11,98.072199,71.109258,24.548748
6,1957,5.003636e-11,89.377457,82.549004,6.956522
7,1958,5.887273e-11,77.988769,73.859769,24.390236
8,1959,8.105455e-11,79.251298,74.789812,39.433562
9,1960,1.096364e-10,77.171218,78.632687,30.468678
10,1961,1.651273e-10,84.455213,77.765049,47.784502
11,1962,2.802182e-10,72.247114,77.585386,51.602915
12,1963,4.977091e-10,82.700065,76.086317,79.923899
13,1964,8.409818e-10,82.867161,62.965110,92.120573
14,1965,1.397818e-09,91.159810,53.742429,34.241671
15,1966,1.731309e-09,97.048707,72.637093,39.122368
16,1967,2.216509e-09,89.917749,78.350965,25.011056
17,1968,3.134218e-09,98.422391,97.049438,25.489271
18,1969,3.868800e-09,115.697287,99.781838,19.308981
19,1970,4.494909e-09,130.986227,119.890005,19.260317
20,1971,6.037455e-09,133.216625,148.976649,19.469161
21,1972,7.281091e-09,177.057005,187.753882,15.721572
22,1973,1.026073e-08,260.953022,260.659960,15.543929
23,1974,1.342109e-08,303.137596,481.959663,34.546048
24,1975,1.816545e-08,305.118564,429.714587,29.351872
25,1976,2.890327e-08,337.902949,413.124108,46.256274
26,1977,4.721564e-08,379.669047,376.637910,38.779804
27,1978,7.042509e-08,370.740782,400.736448,40.809046
28,1979,1.331807e-07,410.037576,486.412959,77.246045
29,1980,2.110375e-07,488.864091,557.407824,110.239410
30,1981,3.529218e-07,519.111119,492.313075,95.196109
31,1982,7.069091e-07,425.966915,409.496822,99.720718
32,1983,1.270909e-06,443.503463,312.465572,210.991732
33,1984,4.627273e-06,527.005367,271.565306,223.811783
34,1985,1.653382e-05,483.472139,248.033999,235.106027
35,1986,6.505273e-05,412.457607,259.196516,65.032796
36,1987,1.831022e-04,469.500045,269.462483,415.834797
37,1988,1.322601e-03,582.193827,251.649850,1037.558805
38,1989,2.452218e-02,567.632235,301.516092,1782.894853
39,1990,5.895531e-01,496.809414,326.760008,1476.709013
40,1991,2.306243e+00,483.899907,321.990524,480.226254
41,1992,2.516736e+01,533.530875,306.379642,1157.836542
42,1993,5.167291e+02,560.731392,367.317271,2708.169389
43,1994,1.768455e+04,620.363316,471.253403,1093.893539
44,1995,2.168159e+04,648.885644,697.240139,14.779408
45,1996,1.979570e+04,652.242050,728.727501,9.337024
46,1997,3.182833e+04,711.543543,802.213096,7.480938
47,1998,3.918438e+04,681.229013,768.807300,1.703450
48,1999,4.843016e+04,630.369269,646.109881,19.979488